<h1>Hello !!! I am Lingua Robot</h1>

<div class="div">
  <button class="talk">Talk</button>
  <a href="/">CLEAR</a>
  <h3 class="content"></h3>
</div>


<form name="form" method="POST" action="/" class="myForm">
  <div>
    <input name="word" type="text" class="input1" id="inputPassword4" placeholder="type your word">
  </div>
  <button type="submit" class="btn1">Transcript</button>
</form>


<button id="play">Play</button>


<div>
  <h3 class="transcription"></h3>
</div>

<div>
  <h3 class="region"></h3>
</div>



<audio preload="auto" src="" class="music" ></audio>

<script defer src="/js/index.js"></script>
