body {
  background: url('/images/esqape_2-3.jpg') no-repeat top left;
  background-size: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo {
  width: 75px;
  height: 75px;
  margin-top: 2px;
  margin-left: 8px;
  border-radius: 15px;
}
.divTalk {
  margin-top: 51px;
  margin-left: 833px;
  position: relative;
}

.talk {
  display: inline-block;
  width: 4em;
  height: 3.9em;
  vertical-align: middle;
  text-decoration: none;
  border: 0.5em solid rgba(0, 0, 0, 0);
  border-radius: 100%;
  background: rgb(245, 245, 245)
    linear-gradient(rgb(245, 245, 245), rgb(188, 192, 193)) 50% 50% /
    calc(1.5em + 0.5em * 2) calc(1.5em + 0.5em * 2);
  box-shadow: inset 0 -3px 10px rgba(255, 255, 255, 1),
    inset 0 3px 10px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.9);
}

.clear {
  display: inline-block;
  background: white;
  color: black;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 7px;
  margin-left: 8px;
  margin-top: 5px;
}

.myForm{
  margin-left: 8px;
}
#play{
  margin-left: 8px;
}

.input{
  margin-top: 6px;
}

.result{
  margin-top: 20px;
  margin-left: 800px;
  background: white;
  border-radius: 10px;
  text-align: center; 
}

.contentOfVoice{
  margin-top: 20px;
  margin-left: 800px;
  background: white;
  border-radius: 10px;
  text-align: center; 
}
